.language-button {
  height: 120px;
  max-width: 298px;
  background-color: white;
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-transform: none;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  flex: 0 1 calc(33.33% - 10px); /* Each button takes up 1/3 of the container's width, minus some spacing */
  margin: 12px; /* Add spacing between buttons */
  /* padding: 0 12px 0 0; */
  display: flex; /* Use flex to align the flag and text */
  align-items: center; /* Center items vertically */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}
/* Remove left margin from the first column */
.language-button:nth-child(3n + 1) {
  margin-left: 0; /* No left margin for the first column */
}

/* Remove right margin from the last column */
.language-button:nth-child(3n) {
  margin-right: 0; /* No right margin for the last column */
}

/* Optional: If you want to remove vertical spacing for the first and last items in the rows */
.language-button:nth-child(-n + 3) {
  margin-top: 0; /* No top margin for items in the first row */
}

.language-button:nth-last-child(-n + 3) {
  margin-bottom: 0; /* No bottom margin for items in the last row */
}

.language-button:focus,
.language-button:hover {
  /* background-color: #19467e; */
}

.language-button-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -webkit-fill-available;
}

.language-text {
  margin-left: 8px;
  font-weight: 700;
  font-size: 24px;
  text-transform: none;
  color: #182866;
}
