.navbar {
  padding: 10px;

  background: #182866; /* Match the background color */
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center; /* Center items vertically */
}
.navbar-brand {
  display: flex; /* Optional, in case you need to align items inside */
  justify-content: center; /* Center the brand */
  flex-grow: 1; /* Allows this to take remaining space */
  max-height: 80px;
  min-height: 60px;
  align-items: center;
  text-align: center;
  width: 100%;
  position: absolute;
}

.navbar-logo {
  height: 48px; /* Adjust as needed */
}
.navbar-emergency-container {
  display: flex;
  align-items: center; /* Centers the items vertically */
  margin-left: 60px; /* Adds 60 pixels left margin */
  min-width: fit-content;
}
.navbar-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 24px;
}
.navbar-end-button {
  height: 52px;
  position: relative;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.navbar-end-button-icon svg {
  margin-right: 8px;
}
