html,
body,
#root {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #182866;
  flex: 1 1 41%; /* explanation below */
  max-width: 300px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  padding: 10px;
  /* color: white; */
  max-height: 80px;
  background: white;
  width: 100%;
  position: fixed;
  top: 0;
}
.navbar-brand {
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-logo {
  height: 48px; /* Adjust as needed */
}

.main-body {
  text-align: left;
  padding: 60px 20px 20px 20px;
  background-color: #eaf0f7;
  flex-grow: 1;
}

h1 {
  margin-bottom: 0.5em;
  color: #182866;
  font-family: PolitieSans;
}

h2 {
  margin-bottom: 2em;
  color: #182866;
  font-size: 20px;
  font-family: PolitieSans;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: calc(100% - 10px - 1px);
  margin: 0 auto;
  max-width: 900px;
}

.button {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 230px;
  max-height: 200px;
  width: 200px;
  max-width: 300px;
  padding: 50px;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-family: PolitieSans;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.05);
}

.button svg {
  margin-bottom: 8px;
  width: 80px; /* Adjust icon size as needed */
  height: auto;
}

.button span {
  font-size: 16px;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: white;
}

.footer-logo {
  height: 50px; /* Adjust as needed */
  margin-right: 10px;
}

/* Responsive layout for buttons */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
  }
}
.rounded-flag-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.video-background {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.centered-container {
  position: fixed;
  top: 10%;
  left: 2%;
  /* transform: translate(-100%, -50%); */
  background: #fff;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 1.25rem;
}

.heading {
  color: #182866;
  font-size: 36px;
  font-weight: 700;
  font-family: "PolitieSans";
  padding: 0 0 10px 0;
  margin: 0;
}

.subheading {
  color: #182866;
  font-size: 30px;
  font-weight: 400;
  padding: 0 0 10px 0;
}

.language-button {
  border-radius: 8px;
  height: 120px;
  width: 410px;
  background-color: #182866;
  box-shadow: -2px 2px 0px 0px yellow;
  color: white;
  margin-left: 8px;
  font-weight: 700;
  font-size: 24px;
  text-transform: none;
  padding: 10px 24px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-button:hover {
  background-color: #182866;
}
.language-button:focus {
  outline: none;
}

.language-button-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -webkit-fill-available;
}

.language-text {
  margin-left: 8px;
  font-weight: 700;
  font-size: 24px;
  text-transform: none;
}
.bubble .user .ng-star-inserted {
  font-size: 52px;
}
