html,
body,
#root {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #182866;
  flex: 1 1 41%; /* explanation below */
  max-width: 300px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-body {
  text-align: left;
  padding: 60px 20px 20px 20px;
  background-color: #eaf0f7;
  flex-grow: 1;
}

h1 {
  margin-bottom: 0.5em;
  color: #182866;
  font-family: PolitieSans;
}

h2 {
  margin-bottom: 2em;
  color: #182866;
  font-size: 20px;
  font-family: PolitieSans;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 10px - 1px);
  margin: 0 auto;
  max-width: 900px;
  gap: 40px;
}

.button {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 230px;
  max-height: 200px;
  width: 200px;
  max-width: 300px;
  padding: 50px;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-family: PolitieSans;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.05);
}

.button svg {
  margin-bottom: 8px;
  width: 80px; /* Adjust icon size as needed */
  height: auto;
}

.button span {
  font-size: 16px;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: white;
}

.footer-logo {
  height: 50px; /* Adjust as needed */
  margin-right: 10px;
}

/* Responsive layout for buttons */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
  }
}
.rounded-flag-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.video-background {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.centered-container {
  position: fixed;
  top: 10%;
  left: 2%;
  /* transform: translate(-100%, -50%); */
  background: #eaf0f7;
  padding: 40px;
  align-items: center;
  /* flex-direction: column; */
  border-radius: 1.25rem;
}
.language-buttons-container {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow items to wrap into next row */
  justify-content: center; /* Center the contents horizontally */
  align-items: center; /* Center the contents vertically */
  max-width: 942px; /* Limit the maximum width of the container */
  margin: 0 auto; /* Center the container */
  padding: ;
}

.heading {
  color: #182866;
  font-size: 36px;
  font-weight: 700;
  font-family: "PolitieSans";
  padding: 0 0 4px 0;
  margin: 0 0 0 0;
}

.subheading {
  color: #182866;
  font-size: 30px;
  font-weight: 400;
  padding: 4px 0 0 0;
  margin: 0 0 40px 0;
}

.language-button {
  height: 120px;
  max-width: 298px;
  background-color: white;
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-transform: none;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  flex: 0 1 calc(33.33% - 10px); /* Each button takes up 1/3 of the container's width, minus some spacing */
  margin: 12px; /* Add spacing between buttons */
  /* padding: 0 12px 0 0; */
  display: flex; /* Use flex to align the flag and text */
  align-items: center; /* Center items vertically */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}
/* Remove left margin from the first column */
.language-button:nth-child(3n + 1) {
  margin-left: 0; /* No left margin for the first column */
}

/* Remove right margin from the last column */
.language-button:nth-child(3n) {
  margin-right: 0; /* No right margin for the last column */
}

/* Optional: If you want to remove vertical spacing for the first and last items in the rows */
.language-button:nth-child(-n + 3) {
  margin-top: 0; /* No top margin for items in the first row */
}

.language-button:nth-last-child(-n + 3) {
  margin-bottom: 0; /* No bottom margin for items in the last row */
}

.language-button:focus,
.language-button:hover {
  /* background-color: #19467e; */
}

.language-button-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -webkit-fill-available;
}

.language-text {
  margin-left: 8px;
  font-weight: 700;
  font-size: 24px;
  text-transform: none;
  color: #182866;
}

.bubble .user .ng-star-inserted {
  font-size: 52px;
}

.flag-container {
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
}

.digital-human-overlay {
  border-radius: 20px;
  opacity: 0.5;
  background: #fff;
}
